﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSPages_logout" Theme="Default"  Codebehind="logout.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title></title>
</head>
<body>
    <form id="form1" class="logon-page" runat="server"></form>
</body>
</html>
